

body {
    margin: 0;
    padding: 0;
    font-family:  'Open Sans', sans-serif;
    background-color: rgb(230, 230, 230);}


h1 {
    font-size: 450%;
    font-weight: 800;
    margin-bottom: -20px;}

h2 {
    font-weight: 800;
    font-size: 150%;
    margin-bottom: 60px;
    text-transform: uppercase;}

h3 {
    font-family:  'PT Serif', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 110%;
    color: rgb(170, 170, 170);
    margin-bottom: 40px;}

p {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 120%;
    color: rgb(100, 100, 100);}

li {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 120%;
    color: rgb(100, 100, 100);}

a:link {
    text-decoration: none;
    color: rgb(44, 104, 130);
    }

a:visited {
    text-decoration: none;
    color: rgb(44, 104, 130);
    }

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#webglFunctionA{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
}

#webglFunctionB{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
 
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(130, 194, 141);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(145, 182, 145);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
